<!doctype html>
<html>
    <head>   <title>Stock App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
    

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
        <div class="container">
      <div class="header" style="width: 50%;margin: auto" >
        <nav >
          <ul class="nav nav-pills pull-right">
            <li role="presentation" style="padding: 20px;background:#98B2FA"><a href="{{ url_for('hello_world') }}" style="color: azure">Home</a></li>
            <li role="presentation" style="padding: 20px;background:#98B2FA;margin-left: 5px"><a href="{{ url_for('login') }}" style="color: azure">Sign In</a></li>
            <li role="presentation" class="active" style="padding: 20px;background:#98B2FA;margin-left: 5px"><a href="{{ url_for('Signup') }}" style="color: azure"> Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Stock info system</h3>
      </div>
 
      <div class="jumbotron" style="width: 50%;margin: auto">
        <h1 id="sp">Goto Sign In</h1>
            </div>
        </div>
    </body>
</html>