<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">   
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <title>DBMS</title>
<style type="text/css">
	.content {
    margin-bottom: 5%;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-right: 40px;
    z-index: 2;
    font-family: Raleway;
    color: black;
/*    vertical-align: middle;*/
    text-align: center;
}
.content h1 {
    font-family: 'Armata';
    font-size: 500%;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#16F26A;
    }
    .content img{
        left:50%;
        
    }
</style>
    <script src="{{ url_for('static', filename='p5.dom.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='p5.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='Star.js') }}" type="text/javascript"></script>
    </head>

<body style="overflow: hidden">

   <div  >
	<div class="container g-text-center--lg  visible-lg-block visible-md-block" >
        <div class="row">
            <div class="col-lg-12">
                <div class="content " >
                                               
                    <h1><br>DBMS PROJECT</h1><br><br>
                    <h1>Stock Market analysis and prediction</h1>
                            
                    <button type="button" class="btn btn-lg btn-primary"><a href="{{ url_for('login') }}" style="color:aliceblue">Login</a></button>
                    <button type="button" class="btn btn-lg btn-primary"><a href="{{ url_for('Signup') }}" style="color: aliceblue">Signup</a></button>
                </div>
            </div></div></div>
<div class="container g-text-center--xs g-ver-center--xs visible-sm-block visible-xs-block ">
        <div class="row">
            <div class="col-lg-12">
                <div class="content g-margin-b-30--xs" >
                    
                    <h1><br>DBMS PROJECT</h1><br><br>
                    <h1>Stock Market analysis and prediction</h1>
                </div>
            </div>
        </div>
    </div>
       
       
          </div>
    
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</html>